body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: red
}

#container {
    width: 70%;
    margin: auto;
    text-align: left;
    padding: 1em;
    border: 1px solid black;
}

#testeo{
font-size: 32px;
}

#cabecera{
    font-size: 48px;
background-color: BLUE;
}